<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/7e08c8b3-b86a-4a6d-be65-1cbd1826699e/resourcegroups/ChallengeOS_ResourceGroup/providers/Microsoft.Web/sites/ChallengeOS20250210100146</ResourceId>
    <ResourceGroup>ChallengeOS_ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/7e08c8b3-b86a-4a6d-be65-1cbd1826699e/resourceGroups/ChallengeOS_ResourceGroup/providers/Microsoft.ApiManagement/service/ChallengeOSapi/apis/ChallengeOS</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://challengeos20250210100146.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>4a1f036f-73c5-4bc9-bd11-9208a3cf83d4</ProjectGuid>
    <MSDeployServiceURL>challengeos20250210100146.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ChallengeOS20250210100146</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$ChallengeOS20250210100146</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>