USE [ChallengeOS_db]
GO
/****** Object:  Table [dbo].[ChallengeGroup]    Script Date: 11/01/2025 9:07:50 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChallengeGroup](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[StartingTime] [datetime] NOT NULL,
	[EndingTime] [datetime] NOT NULL,
	[isActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [varchar](256) NOT NULL,
 CONSTRAINT [PK_ChallengeGroup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChallengeTaskSubmission]    Script Date: 11/01/2025 9:07:50 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChallengeTaskSubmission](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [varchar](256) NOT NULL,
	[ChallengeId] [nvarchar](256) NOT NULL,
	[SubmittedAt] [datetime] NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Language] [varchar](100) NOT NULL,
	[Version] [varchar](50) NOT NULL,
	[PassedTestCases] [int] NOT NULL,
	[TotalTestCases] [int] NOT NULL,
	[Score] [float] NOT NULL,
 CONSTRAINT [PK_ChallengeTaskSubmission] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChallengeTaskTestCase]    Script Date: 11/01/2025 9:07:50 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChallengeTaskTestCase](
	[Id] [nvarchar](256) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Input] [nvarchar](max) NOT NULL,
	[Output] [nvarchar](max) NOT NULL,
	[MatchCase] [bit] NOT NULL,
	[IsUserVisible] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[ChallengeUnitTaskId] [nvarchar](256) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [varchar](256) NOT NULL,
 CONSTRAINT [PK__Challeng__3214EC07D39B8414] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChallengeUnitTask]    Script Date: 11/01/2025 9:07:50 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChallengeUnitTask](
	[Id] [nvarchar](256) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
	[MaxMarks] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ChallengeGroupId] [int] NOT NULL,
	[CreatedBy] [varchar](256) NOT NULL,
 CONSTRAINT [PK_ChallengeUnitTask] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 11/01/2025 9:07:50 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](max) NULL,
	[MessageTemplate] [nvarchar](max) NULL,
	[Level] [nvarchar](128) NULL,
	[TimeStamp] [datetimeoffset](7) NOT NULL,
	[Exception] [nvarchar](max) NULL,
	[Properties] [nvarchar](max) NULL,
 CONSTRAINT [PK__Logs__3214EC0754925698] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 11/01/2025 9:07:50 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [varchar](256) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeamSubmissionLog]    Script Date: 11/01/2025 9:07:50 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamSubmissionLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TaskId] [nvarchar](256) NOT NULL,
	[SubmittedAt] [datetime] NOT NULL,
	[Score] [float] NOT NULL,
	[SubmittedBy] [varchar](256) NOT NULL,
	[Status] [varchar](100) NOT NULL,
	[TestCasesPassed] [int] NOT NULL,
	[TotalTestCases] [int] NOT NULL,
 CONSTRAINT [PK_TeamSubmissionLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11/01/2025 9:07:50 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [varchar](256) NOT NULL,
	[Username] [nvarchar](256) NOT NULL,
	[Password] [nvarchar](256) NOT NULL,
	[RoleId] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[isActive] [bit] NOT NULL,
	[CreatedBy] [varchar](256) NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Contact] [nvarchar](20) NOT NULL,
	[Prefix] [nvarchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChallengeGroup] ON 

INSERT [dbo].[ChallengeGroup] ([Id], [Name], [StartingTime], [EndingTime], [isActive], [CreatedAt], [CreatedBy]) VALUES (2, N'Codex Advance', CAST(N'2025-01-16T10:00:00.000' AS DateTime), CAST(N'2025-01-16T12:00:00.000' AS DateTime), 1, CAST(N'2025-01-11T11:57:55.660' AS DateTime), N'546e5d75-bc4d-4699-a11c-164279ff57e8')
INSERT [dbo].[ChallengeGroup] ([Id], [Name], [StartingTime], [EndingTime], [isActive], [CreatedAt], [CreatedBy]) VALUES (3, N'Codex Basic', CAST(N'2025-01-16T10:00:00.000' AS DateTime), CAST(N'2025-01-16T12:00:00.000' AS DateTime), 1, CAST(N'2025-01-11T11:58:32.227' AS DateTime), N'917f341d-c75f-4f44-9e09-04b2a38c31e6')
SET IDENTITY_INSERT [dbo].[ChallengeGroup] OFF
GO
SET IDENTITY_INSERT [dbo].[Logs] ON 

SET IDENTITY_INSERT [dbo].[Logs] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [Value]) VALUES (1, N'SUPER_ADMIN')
INSERT [dbo].[Role] ([Id], [Value]) VALUES (2, N'ADMIN')
INSERT [dbo].[Role] ([Id], [Value]) VALUES (3, N'USER')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
INSERT [dbo].[User] ([Id], [Username], [Password], [RoleId], [CreatedAt], [isActive], [CreatedBy], [Name], [Email], [Contact], [Prefix]) VALUES (N'070377ff-e7b5-4040-bbe8-c3fa756a0ef0', N'SW2_CODEX_BASIC_0026', N'9cnD9b00', 3, CAST(N'2025-01-11T11:36:40.400' AS DateTime), 1, N'917f341d-c75f-4f44-9e09-04b2a38c31e6', N'Ayesha Abbas', N'ayseabbas7557@gmail.com', N'03278877988', NULL)
INSERT [dbo].[User] ([Id], [Username], [Password], [RoleId], [CreatedAt], [isActive], [CreatedBy], [Name], [Email], [Contact], [Prefix]) VALUES (N'0a49cd00-5c88-4aa8-a9e3-ef815344cf0b', N'SW2_CODEX_BASIC_0039', N'Qj9DEWXz', 3, CAST(N'2025-01-11T11:36:40.443' AS DateTime), 1, N'917f341d-c75f-4f44-9e09-04b2a38c31e6', N'Maryam', N'dynamitemaryam5@gmail.com', N'03281187134', NULL)
INSERT [dbo].[User] ([Id], [Username], [Password], [RoleId], [CreatedAt], [isActive], [CreatedBy], [Name], [Email], [Contact], [Prefix]) VALUES (N'0a4d4349-3708-46cc-9c4a-6d5132166b23', N'SW2_CODEX_BASIC_0004', N'5Jl1A9CI', 3, CAST(N'2025-01-11T11:36:40.367' AS DateTime), 1, N'917f341d-c75f-4f44-9e09-04b2a38c31e6', N'Zainab Zahid', N'zainabzahid704@gmail.com', N'03287433141', NULL)
GO
ALTER TABLE [dbo].[ChallengeTaskSubmission] ADD  CONSTRAINT [DF_ChallengeTaskSubmission_PassedTestCases]  DEFAULT ((0)) FOR [PassedTestCases]
GO
ALTER TABLE [dbo].[ChallengeTaskSubmission] ADD  CONSTRAINT [DF_ChallengeTaskSubmission_TotalTestCases]  DEFAULT ((0)) FOR [TotalTestCases]
GO
ALTER TABLE [dbo].[ChallengeTaskSubmission] ADD  CONSTRAINT [DF_ChallengeTaskSubmission_Score]  DEFAULT ((0)) FOR [Score]
GO
ALTER TABLE [dbo].[ChallengeTaskTestCase] ADD  CONSTRAINT [DF__Challenge__Match__09A971A2]  DEFAULT ((1)) FOR [MatchCase]
GO
ALTER TABLE [dbo].[ChallengeTaskTestCase] ADD  CONSTRAINT [DF__Challenge__IsUse__0A9D95DB]  DEFAULT ((0)) FOR [IsUserVisible]
GO
ALTER TABLE [dbo].[ChallengeTaskTestCase] ADD  CONSTRAINT [DF__Challenge__IsAct__0B91BA14]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ChallengeTaskTestCase] ADD  CONSTRAINT [DF__Challenge__Creat__0C85DE4D]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ChallengeUnitTask] ADD  CONSTRAINT [DF_ChallengeUnitTask_MaxMarks]  DEFAULT ((1)) FOR [MaxMarks]
GO
ALTER TABLE [dbo].[ChallengeGroup]  WITH CHECK ADD  CONSTRAINT [FK_ChallengeGroup_User] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[ChallengeGroup] CHECK CONSTRAINT [FK_ChallengeGroup_User]
GO
ALTER TABLE [dbo].[ChallengeTaskSubmission]  WITH CHECK ADD  CONSTRAINT [FK_ChallengeTaskSubmission_ChallengeUnitTask] FOREIGN KEY([ChallengeId])
REFERENCES [dbo].[ChallengeUnitTask] ([Id])
GO
ALTER TABLE [dbo].[ChallengeTaskSubmission] CHECK CONSTRAINT [FK_ChallengeTaskSubmission_ChallengeUnitTask]
GO
ALTER TABLE [dbo].[ChallengeTaskSubmission]  WITH CHECK ADD  CONSTRAINT [FK_ChallengeTaskSubmission_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[ChallengeTaskSubmission] CHECK CONSTRAINT [FK_ChallengeTaskSubmission_User]
GO
ALTER TABLE [dbo].[ChallengeTaskTestCase]  WITH CHECK ADD  CONSTRAINT [FK__Challenge__Chall__0D7A0286] FOREIGN KEY([ChallengeUnitTaskId])
REFERENCES [dbo].[ChallengeUnitTask] ([Id])
GO
ALTER TABLE [dbo].[ChallengeTaskTestCase] CHECK CONSTRAINT [FK__Challenge__Chall__0D7A0286]
GO
ALTER TABLE [dbo].[ChallengeTaskTestCase]  WITH CHECK ADD  CONSTRAINT [FK_ChallengeTaskTestCase_ChallengeTaskTestCase] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[ChallengeTaskTestCase] CHECK CONSTRAINT [FK_ChallengeTaskTestCase_ChallengeTaskTestCase]
GO
ALTER TABLE [dbo].[ChallengeUnitTask]  WITH CHECK ADD  CONSTRAINT [FK_ChallengeUnitTask_ChallengeGroup] FOREIGN KEY([ChallengeGroupId])
REFERENCES [dbo].[ChallengeGroup] ([Id])
GO
ALTER TABLE [dbo].[ChallengeUnitTask] CHECK CONSTRAINT [FK_ChallengeUnitTask_ChallengeGroup]
GO
ALTER TABLE [dbo].[ChallengeUnitTask]  WITH CHECK ADD  CONSTRAINT [FK_ChallengeUnitTask_User] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[ChallengeUnitTask] CHECK CONSTRAINT [FK_ChallengeUnitTask_User]
GO
ALTER TABLE [dbo].[TeamSubmissionLog]  WITH CHECK ADD  CONSTRAINT [FK_TeamSubmissionLog_ChallengeUnitTask] FOREIGN KEY([TaskId])
REFERENCES [dbo].[ChallengeUnitTask] ([Id])
GO
ALTER TABLE [dbo].[TeamSubmissionLog] CHECK CONSTRAINT [FK_TeamSubmissionLog_ChallengeUnitTask]
GO
ALTER TABLE [dbo].[TeamSubmissionLog]  WITH CHECK ADD  CONSTRAINT [FK_TeamSubmissionLog_User] FOREIGN KEY([SubmittedBy])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[TeamSubmissionLog] CHECK CONSTRAINT [FK_TeamSubmissionLog_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_User] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_User]
GO
